@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    position: relative;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
}

.container{
    position: relative;
    margin: 1%;
    min-width: 1280px;
    min-height: 720px;
    background: blueviolet;
}

.head{


}

.left_pane{

}


.middle_pane{

}

.right_pane{

}